body {
  position: relative;
  background-color: var(--black);
  color: var(--white);
}

canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // opacity: 0.5;
  width: 100% !important;
  height: 100% !important;
}

.heading { 
  display: block;
  text-align: center;
  font-size: 3rem;
  color: var(--yellow);
  margin: 0 auto;
}